
.parent-user-text {
    font-size: 28px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

.customer-health-heading {
    font-size: 60px;
    font-weight: lighter;
    letter-spacing: 0.1rem;
    color: #333;
    padding: 50px;
    padding-top: 50px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: left;
    text-transform: capitalize;

}
.user-nav {
    background-color: #96be3e1f;
}


.my-breadcrumbs {
    padding-left: 50px;
    padding-top: 30px;
    text-transform: capitalize;
  
}


.card-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.card {
        width: calc(33.33% - 24px);
        max-width: 400px;
        height: 300px;
        border-radius: 15px;
        box-shadow: 10px 10px 10px rgba(2, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        margin: 2%;
        margin-top: 30px;
        margin-bottom: 2%;
        overflow: hidden;

    }

        .card .content {
            margin: auto;
            border-radius: 30px;
        }

    @media screen and (max-width: 780px) {
        .card {
            max-width: 300px;
            height: 250px;
            margin-top: 4%;
            margin-bottom: 4%;
            margin: auto;
            background-color: red;
        }
    }

    @media screen and (max-width: 480px) {
        .card {
            max-width: 200px;
            height: 200px;
            margin-top: 6%;
            margin-bottom: 6%;
        }
    }

    .card .card-info {
        display: flex;
        justify-content: center;
        color: #96be3e;
    }


    .media {
        height: 250px;
        object-fit: cover;
    }

    .card .title {
        font-weight: 200;
        font-size: 30px;
        margin-bottom: 0;
        text-align: center;
        color: #4c4c4c;
    }

    .test-graph {
        width: 50%;
        margin: auto;
        display: flex;
        justify-content: center;
        gap: 40px;
    }

    .testimonial-graph,
    .survey-graph {
        background: #fbfbfb;
        padding: 50px;
        text-align: center;
        border-radius: 20px;
        box-shadow: 2px 2px 1px -1px rgba(0,0,0,0.2), 0px 2px 2px 2px rgb(90 86 86 / 14%), 2px 2px 3px 2px rgb(98 77 77 / 12%);
    }

        .testimonial-graph h1,
        .survey-graph h1 {
            font-weight: lighter;
        }


