.container {
    display: flex;
    flex-direction: row;
    align-content: center;

}

.selected-user-container {
    padding: 50px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f961;
    min-width: 50%;
    margin-right: 10px;
    align-items: center;
}

.parent-user-text {
    font-size: 28px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

.customer-health-heading {
    font-size: 35px;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: left;
    text-transform: capitalize;
}

.my-breadcrumbs {
    padding-left: 10px;
    padding-top: 10px;
    text-transform: capitalize;

}


.card {
    width: 25%;
    max-width: 400px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(2, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 24px;
    overflow: hidden;
}

.card .content {
    margin: auto;
    border-radius: 30px;
  
}

@media screen and (max-width: 768px) {
    .card {
        max-width: 300px;
        height: 250px; 
    }
}

@media screen and (max-width: 480px) {
    .card {
        max-width: 200px;
        height: 200px;  
    }
}

.card .card-info {
    display: flex;
    justify-content: center;
    color: #000000ad;
}


.media {
    height: 250px;
    object-fit: cover;
}

.card .title {
    font-weight: 200;
    font-size: 30px;
    margin-bottom: 0;
    text-align: center;
    color: #4c4c4c;
}


.chart-card {
    height: 400px;
    border-radius: 8px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    background-color: green;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 24px;
    overflow: hidden;
    margin-left: 60px;
}

.chart-card .media {
    height: 500px;
}

.test-graph {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 24px;

}

.testimonial-graph {
    background: #fbfbfb;
    margin-left: auto;
    padding: 50px;
    text-align: center;
}

.survey-graph {
    background: #fbfbfb;
    margin-left: 30px;
    padding: 50px;
    text-align: center;
}