.container {
    display: flex;
    flex-direction: row;
    align-content: center;

}

.selected-user-container {
    padding: 50px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f961;
    min-width: 50%;
    margin-right: 10px;
    align-items: center;
}

.parent-user-text {
    font-size: 28px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

.customer-health-heading {
    font-size: 35px;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: left;
    text-transform: capitalize;
}


.card {
    width: 25%;
    max-width: 500px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    background-color: green;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 24px;
    overflow: hidden; 
}

@media screen and (max-width: 768px) {
    .card {
        max-width: 300px;
        height: 250px; 
    }
}

@media screen and (max-width: 480px) {
    .card {
        max-width: 200px;
        height: 200px;  
    }
}


.media {
    height: 250px;
    object-fit: cover;
}

.title {
    font-weight: 600;
    margin-bottom: 8px;
}

.subtitle {
    color: #757575;
    margin-bottom: 16px;
}

.description {
    flex-grow: 1;
    margin-bottom: 16px;
}

