

.table-container {
    margin: 0 auto;
    max-width: 75%;
    text-align: center;
    padding: 20px;
    overflow-x: auto;
}

.toggle-button {
    display: flex;
    justify-content: center;
    float:right;
    margin-top: -25px;
    
}

.table-header {
    font-size: 20px;
    margin-bottom: 20px;
    color: #685959;
    text-transform: uppercase;
    padding: 0px;
}


.table-cell {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .parent-table {
        max-width: 100%;
    }

    .table-header h4 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .parent-table thead td {
        font-size: 14px;
    }
}

.main-health-heading {
    font-size: 60px;
    font-weight: lighter;
    letter-spacing: 0.1rem;
    color: #333;
    padding: 3%;
    padding-left: 12%;
    border-radius: 5px;
    margin-bottom: 30px;
    text-align: left;
    text-transform: capitalize;
}
